body {
    display: grid;
    grid-template-areas:
        'nav nav nav nav nav'
        ' article article article artcile aside';
    gap: 10px;
    background-color: pink;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/*default mobile layout */
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "aid"
    "footer"
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "header header"
        "nav    nav"
        "sidebar content"
        "ad     footer";
    }
}

 @media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "header header header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer"
    }
 }
 
nav ul {
    display: flex;
    justify-content: space-between;
    }
}

.main-head {
    grid-area: header;
}

.content {
    grid-area: content;
}

.main-nav {
    grid-area: nav;
}

.side {
    grid-area: sidebar;
}

.ad {
    grid-area: ad;
}

.main-footer {
    grid-area: footer;
}


nav {
    grid-area: nav;
}

article {
    grid-area: article;
    clear:left;
    line-height: 3em;
}

article h1 {
    color: red;
}

h1.jumbo {
    font-size: 72px;
}

h2 {
    color: white;
}

h1#key-visual {
    border: 3px solid white
}

aside {
    grid-area: aside;
    padding: 20px;
    font-size: 80%;
}

aside p {
    font-size: 4rem;
}



nav ol#menu li {
    display: block;
    float: left;
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font: white;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-style:ridge;
    border-color: darkblue;
    border-width: 3px;
    margin: 20px;
    text-align: left;
}

nav ol#menu li:hover {
    background-color: grey;
    }

h1.jumbo {
    color: red;
}


table {
    margin: 0;
    font-size: 36px;
    border-collapse: collapse;
}

td {
    padding: 20px;
    border: 1px solid black;
}

td {
    padding: 20px;
    border: 5px solid blueviolet
}

td.first {
    border-color: green;
}

tr.first-child td {
    border-color: green;
}

tr.first-child td:first-child {
    border-color: green;
}

b {
    display: block;
}

